<!DOCTYPE html>
<html>
	<head>
    	<meta charset="utf-8">
    	<title><%= htmlWebpackPlugin.options.title %></title>
    	<meta name="viewport" content="width=device-width, initial-scale=1">
  	</head>
  	<body class="c-app [ o-grid--vertical o-grid-wrap--no ]">
    	<div class="c-gmap"></div>

		<header class="c-app__header [ o-grid__child u-12of12 u-3of12@lap ]">
			<button class="o-back-btn" data-bind="click: openControlCenter, css: {'is-visible': !isUserAtControlCenter()}"><i class="o-icon o-icon-arrow-back"></i></button>
			<span class="o-app-logo">Cover Stops</span>
			<div class="o-status-indicator" data-bind="css: {'has-succeeded': connectionStatusCode() === 1, 'has-failed': connectionStatusCode() === 2}">
				<i class="o-icon o-icon-marker-white" data-bind="css: {'o-icon-marker-white': connectionStatusCode() === 0, 'o-icon-marker-green': connectionStatusCode() === 1, 'o-icon-marker-red': connectionStatusCode() === 2}"></i>
				<span data-bind="text: connectionStatusCode() === 0 ? 'Verifying Connection' : connectionStatusCode() === 1 ? 'Connection Established' : 'Compromised Connection'"></span>
			</div>
		</header>

		<div class="c-app__body [ o-grid__child--auto u-12of12 ] [ o-grid o-grid--wrap--no ]">
			<!-- Control Center -->
			<div class="c-app__control [ o-grid__child u-12of12 u-3of12@lap ] [ o-grid--vertical o-grid-wrap--no ]" data-bind="css: {'is-active': isUserAtControlCenter()}">
				<div class="c-filter-field [ o-grid__child ]">
					<input type="text" name="filterBy" class="o-input-field js-filter" data-bind="textInput: query" placeholder="Filter By"><button class="o-button"><i class="o-icon o-icon-filter"></i></button>
				</div>

				<div class="c-stops-list [ o-grid__child--auto ]" data-bind="foreach: stops()">
					<div class="c-stop">
						<img src="" alt="" class="c-stop__imagery">
						<div class="c-stop__intel">
							<span data-bind="text: category, css: {'o-stop-category--restaurant': category === 'Restaurant', 'o-stop-category--outdoors': category === 'Outdoors', 'o-stop-category': category !== 'Restaurant' && category !== 'Outdoors'}"></span>
							<h2 class="o-stop-name" data-bind="text: title, click: $parent.selectStop"></h2>
							<address class="o-stop-address" data-bind="text: address"></address>
						</div>
					</div>
				</div>
			</div>

			<!-- Matrix View -->
			<div class="c-app__matrix [ o-grid__child u-12of12 u-9of12@lap ] [ o-grid--vertical o-grid-wrap--no ]" data-bind="if: selectedStop, css: {'is-active': !isUserAtControlCenter(), 'is-open': isIntelOpen()}">
				<div class="c-detail-cards">
					<button class="c-detail-cards__toggler" data-bind="click: toggleIntel"><i class="o-icon" data-bind="css: {'o-icon-arrow-open': isIntelOpen() === false, 'o-icon-arrow-close': isIntelOpen()}"></i></button>
					<div class="c-card [ o-grid--vertical o-grid-wrap--no ]" data-bind="with: selectedStop">
						<div class="c-card__header [ o-grid__child ]">
							<span data-bind="text: category, css: {'o-stop-category--restaurant': category === 'Restaurant', 'o-stop-category--outside': category === 'Outdoors', 'o-stop-category--default': category !== 'Restaurant'  && category !== 'Outdoors'}"></span>
							<h2 class="o-stop-name" data-bind="text: title">Roadhouse</h2>
							<address class="o-stop-address" data-bind="text: address"></address>
						</div>
						<div class="c-card__body" data-bind="if: $parent.connectionStatusCode() === 0">
							<img src=<%= require('./assets/images/loader.svg') %> alt="" class="o-stop-photo">
							<span class="o-status-indicator">Verifying connection...</span>
						</div>

						<div class="c-card__body" data-bind="if: $parent.connectionStatusCode() === 2">
							<img src=<%= require('./assets/images/binoculars.svg') %> alt="" class="o-stop-photo">
							<span class="o-status-indicator">Compromised connection...</span>
						</div>

						<div class="c-card__body" data-bind="if: $parent.connectionStatusCode() === 1">
							<div class="c-photo-gallery" data-bind="foreach: photos">
								<img src="" alt="" class="o-stop-photo" data-bind="attr: {src: $data}">
							</div>

							<h3 class="o-cover-story-title">Cover stories</h3>
							<div class="o-stop-story" data-bind="foreach: stories">
								<p class="o-stop-story__text" data-bind="text: $data"></p>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

		<!-- Loads KnockoutJS -->
		<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js'></script>
  	</body>
</html>
