.o-logo {
  color: #ffffff;
  font-size: font-size('t3');
  font-weight: 900;
}

.o-link {
  color: #ffffff;
  font-size: font-size('t3');
  font-weight: 900;

  &:hover { color: #ffffff; }
  &:visited { color: #ffffff; }
}
